.hidden {
    display: none;
}

.bg-blue{background: $blue;}

.bg-grey{background: $grey;}
.bg_lightGrey{background: $lgrey;
height: 100vh;}

.dropdown--margin__top{
margin-top: 5vh;    
}

 
.nav-size{
height: $nav-size;
    margin: auto 10px auto 10px;
    @include breakpoint($min: xs) { height: $nav-size+30;
    padding-top:10px; }
 }

.margin-nav-size{
margin-left: $nav-size;
 @include breakpoint($min: xs) { margin-left: $nav-size/5;}
}

.margin-textNav-left{

 @include breakpoint($min: xs) { margin-left: 30px;
}

}

.margin-textNav{
@include breakpoint($min: xs) {
    margin-left: 12px;
 margin-top: -25px;
}

}


/*------------------------------------*\
  #TEXT_COLOR
\*------------------------------------*/

.text-dark {
    //  color: $main-color-dark;
}

.text-blue {
    color: $blue;
}

.text-darkest {
    color: black;
}

.text-light {
    color: $light;
}

.text-lightest {
    color: white;
}

.text-main {
    // color: $main-color;
}

.text-grey {
    color: $grey;
}

.text-bold {
    font-weight: 600;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-note {
    color: $grey;
    font-style: italic;
    font-size: 0.9286rem;
}

.text-by {
    //color: $main-color-dark;
    margin: 20px 0px 0px;
}

.break-word {
    word-wrap: break-word;
}


/*------------------------------------*\
  #ALIGNMENTS_AND_MARGINS
\*------------------------------------*/

.full-height {
    height: 100vh;
    
}

.margin-text{

margin-left: 20px;

}
.margin-top-big{
  margin-top: 60px;
    
 @include breakpoint($min: lg) {
        margin-top: 0;
    }
    @include breakpoint($min: xl) {
         margin-top: 0;
    }

}
.full-width {
    width: 100%;
}

.u-blockify {
    display: block;
    margin-top: 10px;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.no-margin-top {
    margin-top: 0px;
}

.margin-bottom-small {
    margin-bottom: 3px;
}

.col-xxs-12 {
    @media (max-width: 640px) {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.order-xs-1st {
    order: 1;
    @media (min-width: 768px) {
        order: 2;
    }
}

.order-xs-2nd {
    order: 2;
    @media (min-width: 768px) {
        order: 1;
    }
}

.inline-d {
    display: inline;
}

.flex-d {
    display: flex;
}

.wrap-sides {
    @media screen and (min-width: 1200px) {
        border-left: 3px solid $black;
         border-right: 3px solid $black;
    }
    @media screen and (max-width: 767px) {
        border: none;
    }
    
     
        border-right: 3px solid $black;
   
    
    
}







/*------------------------------------*\
  #ORDER
\*------------------------------------*/


 .order-xs-1 {
     order: 1;
     @media (min-width: 768px) {
         order: 1;
     }
 }
 
 .order-xs-2 {
     order: 2;
     @media (min-width: 768px) {
         order: 3;
     }
 }

 .order-xs-3 {
     order: 3;
     @media (min-width: 768px) {
         order: 4;
     }
 }
 
 .order-xs-4 {
     order: 4;
     @media (min-width: 768px) {
         order: 5;
     }
 }

.order-xs-5 {
     order: 5;
     @media (min-width: 768px) {
         order: 2;
     }
 }
