    /*----------#NAVBAR--------------------------*/

 
    .navbar__link {
        display: inline;
        padding: $spacing--x-small;
        font-weight: 500;
    }
    
    .nav-size{
height: $nav-size;
    margin: auto 10px auto 10px;
    @include breakpoint($min: xs) { height: $nav-size+35;
    padding-top:10px; }
 }
 

.margin-nav-size{
margin-left: $nav-size;
 @include breakpoint($min: xs) { margin-left: $nav-size/5;}
}
 

.margin-textNav-left{
 @include breakpoint($min: xs) { margin-left: 30px;
}}

.margin-textNav{
 @include breakpoint($min: xs) { margin-top: -25px;
     margin-left: 12px;
}}