*,
html {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #f9f9f9;*/
    background-color: rgba(234, 234, 234, 1);
    /*font-family: 'Tauri', sans-serif;*/
    font-family: Myriad Pro;
    /*font-family: "Frutiger Linotype";*/
    font-weight: 600;
    margin: 0;
    /*padding: 30px;*/
}


/* Radio */

input[type="radio"] {
    /* background-color: gray;*/
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
    border: 2px solid gray;
}

input[type="radio"]:after {
    border-radius: 20px;
    content: '';
    display: block;
    height: 7px;
    left: 2px;
    position: relative;
    top: 2px;
    width: 7px;
}

input[type="radio"]:checked:after {
    background-color: gray;
}

input[type="radio"]:focus {
    outline: none;
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 200px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: 1px solid lightgray;
}

input[type="text"]:focus {
    outline: none;
}

textarea {
    border: 1px solid lightgray;
    resize: none;
    width: 200px;
    height: 150px;
    overflow-y: scroll;
}

#forms {
    width: 50%;
    float: right;
}

