<!DOCTYPE html>
<html>
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <title>Git Dashboard</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flexboxgrid.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/_font-awesome.min.css.scss') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">

    <script src="{{url_for('static', filename='assets/js/date.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/sendNotification.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
</head>

<body onload="startContent();">

    <!-- NAV_TOPO -->
    <section class="bg__blue">
        <div class="row smalltext text-lightest nav-size margin-nav">
            <div class="col-xs-1 ">
                <a href="{{ url_for('views.profile', username = currentUser.username) }}"><img class="img-block__small  order-xs__1" id="image1" src="{{ currentUser['avatar_url'] }}"></a>
            </div>

            <div class="col-xs-2 margin-textNav start-xs  order-xs__5">
                <p id="username" hidden>{{ currentUser['username'] }}</p>
                <p id="projectID" hidden>{{ currentProject['id'] }}</p>
                <p id="host" hidden>{{ host }}</p>
                <p id="token" hidden>{{ token }}</p>
                <p>{{ currentUser["name"] }}</p>
            </div>

            <div class="col-xs-2 margin-textNav-left  order-xs__2">
                {% if teamname["name"] is not none %}
                    <p id="teamname">{{ teamname.name }}</p>
                {% else %}
                    <p id="teamname">[Team Name]</p>
                {% endif %}
            </div>

            <div class="col-xs-3 col-sm-4 end-xs  order-xs__3">
                <p id="date" class=""> day,month,year,hh-mm</p>
                 
            </div>
            <div class="col-xs-1 col-sm-3 end-xs margin-textNav-left  order-xs__4">
                <a href="{{ url_for('views.logout') }}">
                    <p class=""> Logout</p>
                </a>
            </div>
        </div>
    </section>

    <!-- SECÇÃO_ESQUERDA -->
    <div class="row">
        <div class="col-xs-2 no-padding bg__lightGrey center-xs text">
            <section class="button--margin">

                <button class="drop-click-btn margin-bottom-small btn-default openpro"><img src="{{ url_for('static', filename='assets/images/processes.png') }}" class="icon">Processes</button>
                <!-- SECONDARY BUTTONS -->
                <button class="drop-click-btn margin-bottom-small btn-default viewpro"><a id="#" href="{{ url_for('views.indexRisks') }}">Risks</a></button>
                <button class="drop-click-btn margin-bottom-small btn-default viewpro"><a id="#" href="#">Roles</a></button>
                <button class="drop-click-btn margin-bottom-small btn-default viewpro"><a id="#" href="{{ url_for('views.task') }}">Tasks</a></button>
                <button class="drop-click-btn margin-bottom-small btn-default viewpro"><a id="#" href="#">ScoreCard</a></button>
                <button class="drop-click-btn margin-bottom-small btn-default viewpro"><a id="#" href="#">Process</a></button>

                <button class="drop-click-btn btn-default margin-bottom-small openwork"><img src="{{ url_for('static', filename='assets/images/work.png') }}" class="icon">Work</button>
                <!-- SECONDARY BUTTONS -->
                <button class="drop-click-btn margin-bottom-small btn-default viewwork"><a id="#" href="#">Manage Tasks</a></button>
                <button class="drop-click-btn margin-bottom-small btn-default viewwork"><a id="#" href="#">Sprint Works</a></button>
                <button class="drop-click-btn margin-bottom-small btn-default viewwork"><a id="#" href="#">Burn-Down Chart</a></button>
                <button class="drop-click-btn margin-bottom-small btn-default viewwork"><a id="#" href="#">Manage Sprints</a></button>

                <button class="drop-click-btn btn-default margin-bottom-small openproj"><img src="{{ url_for('static', filename='assets/images/project.png') }}" class="icon">Project</button>
                <!-- SECONDARY BUTTONS -->
                <button class="drop-click-btn margin-bottom-small btn-default viewproj"><a id="#" href="{{ url_for('views.commits') }}">Commits</a></button>
                <button class="drop-click-btn margin-bottom-small btn-default viewproj"><a id="#" href="#">Contributors</a></button>
                <button class="drop-click-btn margin-bottom-small btn-default viewproj"> <a id="#" href="#">Features</a></button>

                <button class="drop-click-btn btn-default margin-bottom-small openart"><img src="{{ url_for('static', filename='assets/images/artifacts.png') }}" class="icon">Artifacts</button>
                <!-- SECONDARY BUTTONS -->
                <button class="drop-click-btn margin-bottom-small btn-default viewart"> <a id="#" href="{{ url_for('views.artifactsFiles') }}">Navigate File Tree & Artifact Lifecycle</a> </button>
                <button class="drop-click-btn margin-bottom-small btn-default viewart"> <a id="#" href="#">Search Repository</a> </button>
                <!--<button class="drop-click-btn margin-bottom-small btn-default viewart"> <a id="#" href="{{ url_for('views.artifactsFiles') }}">Artifact Lifecycle</a> </button>-->

                <button class="drop-click-btn btn-default margin-bottom-small btn-default openppl"><img src="{{ url_for('static', filename='assets/images/people.png') }}" class="icon">People</button>
                <!-- SECONDARY BUTTONS -->
                <a id="members" href="{{ url_for('views.members') }}">
                    <button class="drop-click-btn margin-bottom-small btn-default viewppl">Members</button>
                </a>

                <script type="text/javascript">
                    var reply_click = function () {
                        if (document.getElementById("project").firstChild.data == 'CHOOSE PROJECT') {
                            alert("ERROR - Please choose a project first!");
                            return false
                        }
                    }
                    document.getElementById('members').onclick = reply_click;
                </script>

                <button class="drop-click-btn btn-default margin-bottom-small"><img src="{{ url_for('static', filename='assets/images/settings.png') }}" class="icon">Settings</button>
            </section>
        </div>

        <!-- SECÇÃO_CENTRAL -->
        <div class="col-xs-10 centerSection">
            <div class="row end-xs">
                <div class="col-xs-11">
                    <div class="col-xs-2 col-xs-offset-9   end-xs">
                    <button class="showFeed btn-default dropdown--margin__top"><a class="text-lightest" href="#">Activity Feed</a></button>
                    </div></div>
            </div>

            <!-- DROPDOWN_ESQ -->
            <div class="row">
                <div class="col-xs-3 dropdown--margin__top ">
                    <div class="dropdown ">
                        {% if currentProject is none %}
                        <button id="project" class="dropbtn">CHOOSE PROJECT</button>
                        {% else %}
                        <button id="project" class="dropbtn">{{ currentProject.name }}</button>
                        {% endif %}
                        <div class="dropdown-content">
                            {% for project in projectsList %}
                            <a href="{{url_for('views.changeProjectOrBranch', page=page, type='project', text=project['id']) }}"> {{ project['path'] }} </a> {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- DROPDOWN_DIR -->
                <div class="col-xs-3 dropdown--margin__top">
                    <div class="dropdown ">
                        {% if currentBranch is none %}
                        <button class="dropbtn">CHOOSE BRANCH</button>
                        {% else %}
                        <button class="dropbtn">{{ currentBranch }}</button>
                        {% endif %}
                        <div class="dropdown-content">
                            {% if branchesList is not none %} {% for branch in branchesList %}
                            <a href="{{url_for('views.changeProjectOrBranch', page=page, type='branch', text=branch['name']) }}"> {{ branch['name'] }} </a> {% endfor %} {% endif %}
                        </div>
                    </div>
                </div>

                <!-- ALERTAS_TITULO -->
                <div class="col-xs-5 center-xs">
                    <h2 id="userAlerts" class=" text-right text-red">User alerts</h2>
                </div>
            </div>

            <!--<div class="row">-->
                <!--<div class="col-xs-12 center-xs ">-->





                    <!--<div class="form-style-8">-->
                        
                        <h2>Risks</h2>
                        <div id="grid">
                            <div class="all-element">
                                <div>Impact</div>
                            </div>

                            <div class="blank-element">
                                <div id="blank">Likelihood</div>
                            </div>

                            <div class="title-element">
                                <div>Low</div>
                            </div>

                            <div class="title-element">
                                <div>Medium</div>
                            </div>

                            <div class="title-element">
                                <div>High</div>
                            </div>

                            <div class="title2-element">
                                <div>High</div>
                            </div>

                            <div id="pos00" class="grid-element">
                                <div class="content"></div>
                            </div>

                            <div id="pos01" class="grid-element">
                                <div class="content"></div>
                            </div>

                            <div id="pos02" class="grid-element">
                                <div class="content"></div>
                            </div>

                            <div class="title2-element">
                                <div>Medium</div>
                            </div>

                            <div id="pos10" class="grid-element">
                                <div class="content"></div>
                            </div>

                            <div id="pos11" class="grid-element">
                                <div class="content"></div>
                            </div>

                            <div id="pos12" class="grid-element">
                                <div class="content"></div>
                            </div>

                            <div class="title2-element">
                                <div>Low</div>
                            </div>

                            <div id="pos20" class="grid-element">
                                <div class="content"></div>
                            </div>

                            <div id="pos21" class="grid-element">
                                <div class="content"></div>
                            </div>

                            <div id="pos22" class="grid-element">
                                <div class="content"></div>
                            </div>
                        </div> 
                        <div class="risks">
                            <p id="box"></p>
                        </div>
                    <!--</div>-->






                <!---</div>-->
            <!--</div>-->

        </div>

        <!-- SECÇÃO_DIREITA -->
        <div class="col-xs-2 bg__lightGrey center-xs text feedCol">
            <section class="section-size  scroll">
                <div id="hiddenFeed">
                    {% if projectID is none %}
                        <p>Choose a project</p>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>

    {% if projectID is not none %}
    <script src="{{url_for('static', filename='assets/js/notification.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='assets/js/indexRisks.js') }}"></script>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/barras.js') }}"></script>
    {% if teamname["name"] is none %}
        {% if (teamname["owner"]) %}
            <script src="{{url_for('static', filename='assets/js/sendTeamName.js') }}"></script>
        {% endif %}
    {% endif %}
</body>
</html>
