<!DOCTYPE html>
<html>

<head>

    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <title>Git Dashboard</title>


    <!-- STYLESHEETS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flexboxgrid.min.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/_font-awesome.min.css.scss') }}" type="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/profilein.css') }}" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:500,600,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">

    <script src="{{url_for('static', filename='assets/js/date.js') }}"></script>

</head>


<body>


    <!--------------------------------------
NAV_TOPO
-------------------------------------->

    <section class="bg__blue">


        <div class="row smalltext text-lightest nav-size margin-nav">
            <div class="col-xs-1 ">
                <a href="{{ url_for('views.profile', username = currentUser.username) }}"><img class="img-block__small  order-xs__1" id="image1" src="{{ currentUser["avatar_url"] }}"></a>
            </div>

            <div class="col-xs-1 margin-textNav start-xs  order-xs__5">
                <p><a href="{{ url_for('views.profile', username = currentUser.username) }}">{{ currentUser["name"] }}</a></p>
            </div>

            <div class="col-xs-2 margin-textNav-left  order-xs__2">
                <p>Team Name</p>

            </div>

            <div class="col-xs-4 col-sm-4 end-xs  order-xs__3">
                <p id="date" class=""> week,day,month,year,hh-mm</p>
            </div>
            <div class="col-xs-3 col-sm-4 end-xs margin-textNav-left  order-xs__4">
                <p class=""> Logout</p>
            </div>



        </div>
    </section>





    <!--------------------------------------
  SECÇÂO ESQUERDA
-------------------------------------->
    <div class="row ">

        <div class="col-xs-2 no-padding bg__lightGrey center-xs text">
            <section class="button--margin">


                <a href="" class="">
                    <button class="btn-default margin-bottom-small">WORK </button>
                </a>
                <a href="">
                    <button class="btn-default margin-bottom-small ">ARTIFACTS </button>
                </a>
                <a href="">
                    <button class="btn-default margin-bottom-small">PROCESSES </button>
                </a>
                <a id="people" href="{{ url_for('views.members') }}">
                    <button class="btn-default margin-bottom-small ">PEOPLE </button>
                </a>
                <a href="">
                    <button class="btn-default margin-bottom-small">SETTINGS </button>
                </a>
            </section>
        </div>





        <!--------------------------------------
 SECÇÃO_CENTRAL
-------------------------------------->

        <!-------------------DROPDOWN_ESQ------------------->
        <div class="col-xs-7 ">
            <div class="row">

                <div class="col-xs-3 dropdown--margin__top ">
                    <div class="dropdown ">
                        {% if currentProject is none %}
                            <button id="project" class="dropbtn">CHOOSE PROJECT</button>
                        {% else %}
                            <button id="project" class="dropbtn">{{ currentProject.name }}</button>
                        {% endif %}
                        <div class="dropdown-content">
                            {% for project in projectsList %}
                                <a href={{url_for('views.changeProjectOrBranch', page='index', type='project', text=project["id"]) }}> {{ project["path"] }} </a>
                            {% endfor %}
<!--
                            <a href="#">Project 1</a>
                            <a href="#">Project 2</a>
-->
                        </div>
                    </div>
                </div>



                <!-------------------DROPDOWN_DIR------------------->
                <div class="col-xs-3 dropdown--margin__top">
                    <div class="dropdown ">
                        {% if currentBranch is none %}
                            <button class="dropbtn">CHOOSE BRANCH</button>
                        {% else %}
                            <button class="dropbtn">{{ currentBranch }}</button>
                        {% endif %}
                        <div class="dropdown-content">
                            {% if branchesList is not none %}
                                {% for branch in branchesList %}
                                    <a href="{{url_for('views.changeProjectOrBranch', page='index', type='branch', text=branch["name"]) }}"> {{ branch["name"] }} </a>
                                {% endfor %}
                            {% endif %}
<!--
                            <a href="#">Branch 1</a>
                            <a href="#">Branch 2</a>
-->
                        </div>
                    </div>
                </div>

           

            <!-------------------ALERTAS_TITULO------------------->
          
                <div class="col-xs-6 center-xs site_title subtitle">
                    <p>User Allerts</p>
                </div>
            </div>



      
            <!-------------------PERFIL_TITULO------------------->


            <div class="row middle-xs center-xs">
                             
                <div class="col-xs-12 center-xs ">
                    <p class="subtitle">Edit Profile</p>
 
                </div>
           
                <!-------------------EDIT_FORM------------------->
                

                <div id="forms col-xs-12">
                    

                    <form method="POST" action="{{ url_for('views.editPOST') }}">
                        <input id="algo1" type="radio" name="choice" value="0" onclick="myFunction()"> GIT Info
                        <br>
                        <input id="algo" type="radio" name="choice" value="1"> Edit for application only
                    <br>
                    <br>

                        <br> Skype:
                        <input class="edit change" type="text" name="skype" value="{{ userInfoDB['skype'] }}">
                        <br> LinkedIn:
                        <input class="edit change" type="text" name="linkedin" value="{{ userInfoDB['linkedin'] }}">
                        <br> Twitter:
                        <input class="edit change" type="text" name="twitter" value="{{ userInfoDB['twitter'] }}">
                        <br> Website:
                        <input class="edit change" type="text" name="website" value="{{ userInfoDB['website'] }}">
                        <br> Bio:
                        <br>
                        <textarea maxlength="250" class="edit change" type="text" name="bio"> {{ userInfoDB['bio'] }} </textarea>
                        <br>

                        <input type="submit" value="Save">
                    </form>
                    <br>
                    <br>

                </div>

            </div>

        </div>

        <!--------------------------------------
  SECÇÂO DIREITA
-------------------------------------->

        <div class="col-xs-offset-1 col-xs-2 bg__lightGrey center-xs text">
            <section class="section-size ">
                <p><a id="feed" href="#">Activity Feed</a></p>
                <div id="hiddenFeed">
                    <p>AAAAAA</p>
                    <p>BBBBBB</p>
                    <p>CCCCCC</p>
                    <p>DDDDDD</p>
                    <p>EEEEEE</p>
                    <p>FFFFFF</p>
                    <p>GGGGGG</p>
                    <p>HHHHHH</p>
                </div>

            </section>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script src="{{ url_for('static', filename='assets/js/barras.js') }}"></script>

</body>

</html>